In [1]:
#Importando biblioteca
import pandas as pd

In [2]:
datos = pd.read_json('base.json')
datos.head()

,id_paciente,doenca_cardiaca,imc,fumante,alcool,faixa_etaria,raca_etnia,saude_fisica,saude_mental
0,1,True,27.3,False,True,31-40,Parda,4,7
1,2,False,22.8,False,False,21-30,Branca,9,8
2,3,True,31.6,True,True,51-60,Negra,3,5
3,4,False,18.9,False,False,18-20,Amarela,10,9
4,5,True,29.4,True,False,41-50,Indígena,5,4

In [3]:
datos["dicultade_caminar"] = False

In [4]:
datos.head()

,id_paciente,doenca_cardiaca,imc,fumante,alcool,faixa_etaria,raca_etnia,saude_fisica,saude_mental,dicultade_caminar
0,1,True,27.3,False,True,31-40,Parda,4,7,False
1,2,False,22.8,False,False,21-30,Branca,9,8,False
2,3,True,31.6,True,True,51-60,Negra,3,5,False
3,4,False,18.9,False,False,18-20,Amarela,10,9,False
4,5,True,29.4,True,False,41-50,Indígena,5,4,False

In [8]:
pacientes2 = pd.read_json('pacientes2.json')
pacientes2

,id_paciente,dados_pessoais,habitos,condicoes_saude,avaliacao
0,1,"{'faixa_etaria': '31-40', 'raca_etnia': 'Parda'}","{'fumante': False, 'alcool': True, 'atividade_...","{'doenca_cardiaca': True, 'imc': 27.3, 'pressa...","{'saude_fisica': 4, 'saude_mental': 7, 'sono':..."
1,2,"{'faixa_etaria': '21-30', 'raca_etnia': 'Branca'}","{'fumante': False, 'alcool': False, 'atividade...","{'doenca_cardiaca': False, 'imc': 22.8, 'press...","{'saude_fisica': 9, 'saude_mental': 8, 'sono':..."
2,3,"{'faixa_etaria': '51-60', 'raca_etnia': 'Negra'}","{'fumante': True, 'alcool': True, 'atividade_f...","{'doenca_cardiaca': True, 'imc': 31.6, 'pressa...","{'saude_fisica': 3, 'saude_mental': 5, 'sono':..."

In [19]:
pacientes2_normalizados = pd.json_normalize(pacientes2['dados_pessoais'])
pacientes2_normalizados

  faixa_etaria raca_etnia
0        31-40      Parda
1        21-30     Branca
2        51-60      Negra

In [20]:
# Caso de practica
# Importando bibliotecas
import requests
import json

In [21]:
url = 'https://jsonplaceholder.typicode.com/users'

In [22]:
datos = requests.get(url)

In [23]:
resultado = json.loads(datos.text)

In [24]:
pd.DataFrame(resultado)

,id,name,username,email,address,phone,website,company
0,1,Leanne Graham,Bret,Sincere@april.biz,"{'street': 'Kulas Light', 'suite': 'Apt. 556',...",1-770-736-8031 x56442,hildegard.org,"{'name': 'Romaguera-Crona', 'catchPhrase': 'Mu..."
1,2,Ervin Howell,Antonette,Shanna@melissa.tv,"{'street': 'Victor Plains', 'suite': 'Suite 87...",010-692-6593 x09125,anastasia.net,"{'name': 'Deckow-Crist', 'catchPhrase': 'Proac..."
2,3,Clementine Bauch,Samantha,Nathan@yesenia.net,"{'street': 'Douglas Extension', 'suite': 'Suit...",1-463-123-4447,ramiro.info,"{'name': 'Romaguera-Jacobson', 'catchPhrase': ..."
3,4,Patricia Lebsack,Karianne,Julianne.OConner@kory.org,"{'street': 'Hoeger Mall', 'suite': 'Apt. 692',...",493-170-9623 x156,kale.biz,"{'name': 'Robel-Corkery', 'catchPhrase': 'Mult..."
4,5,Chelsey Dietrich,Kamren,Lucio_Hettinger@annie.ca,"{'street': 'Skiles Walks', 'suite': 'Suite 351...",(254)954-1289,demarco.info,"{'name': 'Keebler LLC', 'catchPhrase': 'User-c..."
5,6,Mrs. Dennis Schulist,Leopoldo_Corkery,Karley_Dach@jasper.info,"{'street': 'Norberto Crossing', 'suite': 'Apt....",1-477-935-8478 x6430,ola.org,"{'name': 'Considine-Lockman', 'catchPhrase': '..."
6,7,Kurtis Weissnat,Elwyn.Skiles,Telly.Hoeger@billy.biz,"{'street': 'Rex Trail', 'suite': 'Suite 280', ...",210.067.6132,elvis.io,"{'name': 'Johns Group', 'catchPhrase': 'Config..."
7,8,Nicholas Runolfsdottir V,Maxime_Nienow,Sherwood@rosamond.me,"{'street': 'Ellsworth Summit', 'suite': 'Suite...",586.493.6943 x140,jacynthe.com,"{'name': 'Abernathy Group', 'catchPhrase': 'Im..."
8,9,Glenna Reichert,Delphine,Chaim_McDermott@dana.io,"{'street': 'Dayna Park', 'suite': 'Suite 449',...",(775)976-6794 x41206,conrad.com,"{'name': 'Yost and Sons', 'catchPhrase': 'Swit..."
9,10,Clementina DuBuque,Moriah.Stanton,Rey.Padberg@karina.biz,"{'street': 'Kattie Turnpike', 'suite': 'Suite ...",024-648-3804,ambrose.net,"{'name': 'Hoeger LLC', 'catchPhrase': 'Central..."

In [25]:
pd.json_normalize(resultado)

,id,name,username,email,phone,website,address.street,address.suite,address.city,address.zipcode,address.geo.lat,address.geo.lng,company.name,company.catchPhrase,company.bs
0,1,Leanne Graham,Bret,Sincere@april.biz,1-770-736-8031 x56442,hildegard.org,Kulas Light,Apt. 556,Gwenborough,92998-3874,-37.3159,81.1496,Romaguera-Crona,Multi-layered client-server neural-net,harness real-time e-markets
1,2,Ervin Howell,Antonette,Shanna@melissa.tv,010-692-6593 x09125,anastasia.net,Victor Plains,Suite 879,Wisokyburgh,90566-7771,-43.9509,-34.4618,Deckow-Crist,Proactive didactic contingency,synergize scalable supply-chains
2,3,Clementine Bauch,Samantha,Nathan@yesenia.net,1-463-123-4447,ramiro.info,Douglas Extension,Suite 847,McKenziehaven,59590-4157,-68.6102,-47.0653,Romaguera-Jacobson,Face to face bifurcated interface,e-enable strategic applications
3,4,Patricia Lebsack,Karianne,Julianne.OConner@kory.org,493-170-9623 x156,kale.biz,Hoeger Mall,Apt. 692,South Elvis,53919-4257,29.4572,-164.2990,Robel-Corkery,Multi-tiered zero tolerance productivity,transition cutting-edge web services
4,5,Chelsey Dietrich,Kamren,Lucio_Hettinger@annie.ca,(254)954-1289,demarco.info,Skiles Walks,Suite 351,Roscoeview,33263,-31.8129,62.5342,Keebler LLC,User-centric fault-tolerant solution,revolutionize end-to-end systems
5,6,Mrs. Dennis Schulist,Leopoldo_Corkery,Karley_Dach@jasper.info,1-477-935-8478 x6430,ola.org,Norberto Crossing,Apt. 950,South Christy,23505-1337,-71.4197,71.7478,Considine-Lockman,Synchronised bottom-line interface,e-enable innovative applications
6,7,Kurtis Weissnat,Elwyn.Skiles,Telly.Hoeger@billy.biz,210.067.6132,elvis.io,Rex Trail,Suite 280,Howemouth,58804-1099,24.8918,21.8984,Johns Group,Configurable multimedia task-force,generate enterprise e-tailers
7,8,Nicholas Runolfsdottir V,Maxime_Nienow,Sherwood@rosamond.me,586.493.6943 x140,jacynthe.com,Ellsworth Summit,Suite 729,Aliyaview,45169,-14.3990,-120.7677,Abernathy Group,Implemented secondary concept,e-enable extensible e-tailers
8,9,Glenna Reichert,Delphine,Chaim_McDermott@dana.io,(775)976-6794 x41206,conrad.com,Dayna Park,Suite 449,Bartholomebury,76495-3109,24.6463,-168.8889,Yost and Sons,Switchable contextually-based project,aggregate real-time technologies
9,10,Clementina DuBuque,Moriah.Stanton,Rey.Padberg@karina.biz,024-648-3804,ambrose.net,Kattie Turnpike,Suite 198,Lebsackbury,31428-2261,-38.2386,57.2232,Hoeger LLC,Centralized empowering task-force,target end-to-end models